<h2> 나의 작은 블로그 </h2>
해시태그, 팔로우 가능!!<br>

{% if user.is_authenticated %}
    <h3>반갑습니다. {{user.username}}님</h3>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'new' %}">Write</a>
{% else %}
    <h4><a href="{% url 'login' %}">Login</a></h4>
    <h4><a href="{% url 'register' %}">Sign-in</a></h4>
{% endif %}
<hr>

<div class="container">
    {% for x in posts %}
        <h3>{{x.title}}</h3>
        {{x.summary}}...<a href="{% url 'show' x.id %}">더 보기</a><br>
        -----------------<br>
    {% endfor %}
</div>